<table>
  <tr>
    <th>Name</th>
    <th>Year Completed</th>
  </tr>
  <%@landmarks.each do |landmark|%>
  <tr>
      <td><a href="/landmarks/<%=landmark.id%>"><%=landmark.name %></a></td>
      <td><%=landmark.year_completed %></td>
  </tr>
  <%end%>
<table>

<form action='/landmarks/new' method='GET'>
  <input type="submit" value="make new landmark">
<form/>

<form action='/landmark/index' method='GET'>
  <input type="submit" value="edit a landmark">
<form/>
