<h1>Create a new Landmark!</h1>

<form action='/landmarks' method='POST'>
  <h2>Enter a landmark name: <input type='text' id="landmark_name" placeholder='Enter a landmark name' name='landmark[name]' /></h2>
  <h2>Enter a completed year: <input type='text' id="landmark_year_completed" placeholder='Enter a year completed' name='landmark[year_completed]' /></h2>
  <input type='submit' value="Create New Landmark" >
</form>
